/*** General Document Styles  ***/

body {
    top: 30px;
}
.main-logo {
    position: relative;
    float: left;
    max-width: 120px;
    padding-left: 5px;
}
.main-logo img {
    width: 100%;
}
.profile-pic {
    display: inline;
    max-height: 30px;
    border-radius: 50%;
    margin-top: -8px;
}
/*** Foundation Overrides  ***/

/*** General Component Styles  ***/

/*** Portlets ***/

.portlet {
    border: 1px solid #ddd;
    min-width: 100px;
    min-height: 100px;
    margin-bottom: 1.25rem;
    height: auto;
}
.portlet-header {
    min-height: 30px;
    border-bottom: #ddd;
    background-color: #024d65;
    color: #fff;
    padding: 0px 5px 0px 5px;
}
.portlet-header p {
    font-size: 1.1em;
}
.portlet-top-icons {
    font-size: 1em;
    padding: 3px;
}
.portlet-top-icons p {
    cursor: pointer;
}
.portlet-body {
    position: relative;
    padding: 5px;
    margin-bottom: 3px;
    height: auto;
 }
.portlet-body thead {
    background-color: #ddd;
}
.portlet-body th {
    font-size: 0.6em;
    text-align: center;
}
.portlet-body td {
    font-size: 0.7em;
}

/*** Widgets ***/

.widget {
    min-height: 100px;
    min-width: 100px;
    background-color: #27a9e3;
    color: #fff;
    position: relative;
    margin-bottom: 1.25rem;
}
.widget-body{
    position: absolute;
    top: 0;
    width: 100%;
    padding: 5px;
}
.widget-body-icon-container {
    width: 30%;
    display: inline-block;
}
.widget-body-stats-container {
    width: 65%;
    display: inline-block;
    text-align: right;
}
.widget-body-stats-digits {
    font-size: 2em;
    margin-bottom: 3px;
}
.widget-body-stats-text {
    font-size: 0.7em;
    font-weight: 200;
}
.widget-body-icon {
    font-size: 2em;
}
.widget-footer {
    position: absolute;
    bottom: 0;
    min-height: 15px;
    background-color: #208dbe;
    width: 100%;
}
.widget-footer div {
    padding: 2px;
    margin: 0;
    vertical-align: middle;
    color: #fff;
    display: inline-block;
    font-size: 0.8em;
}
.widget-footer p {
    font-size: 0.6em;
    margin: 0;
}
